.card{
    transition: all 0.4s;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  
.card-image-overlay {
    position: absolute;
    width: 90%;
    bottom: 5%;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
    padding-left: 1em;
}
@media (max-width: 1024px) {
    .card-image-overlay {
        position: absolute;
        width: 90%;
        bottom: 10px;
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        font-size: 10px;
        padding-left: 1em;
        align-items: flex-end;
    }
}
@media (max-width: 376px) {
    .card-image-overlay {
        flex-direction: column;
        position: absolute;
        width: 90%;
        bottom: 10px;
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        font-size: 10px;
        padding-left: 1em;
        align-items: flex-start;
    }
}
.col-sm-6 {
    padding-bottom: 30px;
}

.card-img {
    height: 300px;
}